# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.venv/

# Environment
.env

# DuckDB database
data/*.duckdb

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Airflow
logs/
airflow.cfg
airflow.db
standalone_admin_password.txt
webserver_config.py

# macOS
.DS_Store
